<br>
<% if @book %>
  <div class="card mx-5">
  <h3 class="card-header bg-dark text-white mx-2">Hotel details</h3>
  <div class="card-body">
    <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Hotel Name</th>
          <th>Date</th>
          <th>Time</th>
          <th>No of guests</th>
        </tr>
      </thead>

      <tbody>
        <% @book.each do |b| %>
          <tr>
            <td><%= User.find_by(id: b.user_id).user_name %></td>
            <td><%= b.h_name %></td>
            <td><%= b.b_date %></td>
            <td><%= b.b_time %></td>
            <td><%= b.no_of_booking %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-4">
        <b>Press delete to delete your booking.</b>
      </div>
      <div class="col">
        <%= link_to "Delete all bookings", bookings_delete_path, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>

<% else %>
  <div class="row row-content">
    <div class="col-4 offset-1">
      <h2> Please book a hotel first! </h2>
    </div>
    <div class="col">
      <a class="btn btn-dark " href="/bookings/generate" role="button">Book Here</a>
    </div>
  </div>
<% end %>
